.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 100%;
  height: 10vh;
  padding: 0 2rem;
  color: var(--color2);
  z-index: 10;
  background-color: var(--color1);
  background: -moz-linear-gradient(
    180deg,
    rgba(4, 46, 66, 1) 0%,
    rgba(4, 46, 66, 1) 80%,
    rgba(240, 240, 240, 0) 100%
  );

  background: -webkit-linear-gradient(
    180deg,
    rgba(4, 46, 66, 1) 0%,
    rgba(4, 46, 66, 1) 80%,
    rgba(240, 240, 240, 0) 100%
  );

  background: linear-gradient(
    180deg,
    rgba(4, 46, 66, 1) 0%,
    rgba(4, 46, 66, 1) 80%,
    rgba(240, 240, 240, 0) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--color1)",endColorstr="#f0f0f0",GradientType=1);
}

.navbarLeftBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msxIcon {
  width: 60px;
}

.marsaleixRomain,
.developpeurWeb {
  padding: 0 10px;
}

.separationLineNameJob {
  background-color: var(--color2);
  height: 30px;
  width: 3px;
}

.developpeurWeb {
  color: var(--colorSpecial);
  font-weight: bold;
}

.navbarMenuLinks {
  display: flex;
  align-items: center;
  z-index: 5;
}

.navbarLink {
  padding: 0 1rem;
  color: inherit;
  font-weight: normal;
  font-size: 1.2rem;
}

.navbarLink:hover {
  color: goldenrod;
}

.navbarBurger {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: inherit;
  display: flex;
  z-index: 11;
}

.mobileMod {
  display: none;
}

.navbarRightBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.navbarRightBlock > a {
  display: flex;
  align-items: center;
  font-size: clamp(30px, 4vw, 32px);
}

.navbarRightBlock > a > button {
  font-size: clamp(10px, 1.5vw, 15px);
}

.navbarLinks {
  padding: 0 25px 0 0;
  color: var(--color2);
}

.navbarLinks:hover {
  color: var(--colorSpecial);
}

.recruteMe {
  border-radius: 30px;
  height: 35px;
  padding: 0 20px;
  font-weight: bold;
  background-color: transparent;
  color: var(--color2);
  border: 2.5px solid var(--colorSpecial);
  cursor: pointer;
}
.recruteMe:hover {
  background-color: var(--color2);
  color: var(--color1);
  border: 2.5px solid var(--color3);
  transition: all 0.2s ease-in-out;
  height: 40px;
}

.Fa-icons {
  font-size: 50px;
  padding-bottom: 10px;
}
.text-icons {
  font-size: 1.5rem;
}

.navbarLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navFlag {
  margin-right: 25px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: 2.5px solid whitesmoke;
  border-radius: 9999px;
}

.rotate-center.navFlag:hover {
  filter: grayscale(0);
  -webkit-animation: rotate-center 2s linear infinite both;
  animation: rotate-center 2s linear infinite both;
}

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 682px) {
  .navbar {
    display: flex;
    height: 10vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    width: 100vw;
  }

  .mobileMod {
    display: flex;
  }

  .desktopMod {
    display: none;
  }

  .navbarLeftBlock {
    width: 100%;
  }

  .navbarMenuLinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    height: 100vh;
    padding: 0.3rem;
    background-color: #000;
    visibility: hidden;
    transition: all 0.8s ease-in-out;
    width: 0;
  }

  .showNavbarMobile .navbarMenuLinks {
    right: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li {
    list-style: none;
  }

  /*Debut Partie : Ajout barre sous Item Menu Mobile*/
  .navbarItem::after {
    content: "";
    display: block;
    margin: auto;
    width: 3vw;
    height: 1px;
    background-color: var(--color2);
  }

  .navbarItem:first-child::after {
    display: none;
  }

  .navbarItem:last-child::after {
    display: none;
  }
  /*Fin Partie : Ajout barre sous Item Menu Mobile*/
  .navbarLink {
    padding: 5%;
  }

  .navbarBurger {
    display: block; /* Affichage du burger menu format mobile*/
    position: flex;
  }

  .navbarBurger:hover {
    cursor: pointer;
  }

  .burgerBar,
  .burgerBar::before,
  .burgerBar::after {
    display: block;
    width: 40px; /* taille idéale milieu 30px*/
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: var(--color2);
    transition: all 0.5s ease-in-out;
  }

  .burgerBar::before,
  .burgerBar::after {
    content: "";
    position: absolute;
    left: 0; /* Depart de la ligne de gauche a droite*/
    width: 40px;
  }

  .burgerBar::before {
    transform: translateY(-12px);
  }

  .burgerBar::after {
    transform: translateY(12px);
  }

  .showNavbarMobile .burgerBar {
    background-color: transparent;
  }

  .showNavbarMobile .burgerBar::before {
    transform: rotate(45deg);
  }

  .showNavbarMobile .burgerBar::after {
    transform: rotate(-45deg);
  }

  .navbarItem {
    transform: translateY(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .showNavbarMobile .navbarItem {
    transform: translateY(0);
  }

  .showNavbarMobile .slideInDown-0 {
    transition: all 0.9s ease-out;
    padding-bottom: 50px;
  }

  .showNavbarMobile .slideInDown-1 {
    transition: all 1s ease-out;
  }
  .showNavbarMobile .slideInDown-2 {
    transition: all 1.1s ease-out;
  }
  .showNavbarMobile .slideInDown-3 {
    transition: all 1.2s ease-out;
  }
  .showNavbarMobile .slideInDown-4 {
    transition: all 1.3s ease-out;
  }
  .showNavbarMobile .slideInDown-5 {
    transition: all 1.4s ease-out;
  }

  .slideInDown-0,
  .slideInDown-1,
  .slideInDown-2,
  .slideInDown-3,
  .slideInDown-4 {
    width: 100%;
  }

  .take-a-book {
    display: none;
  }

  .btn-rdv {
    display: none;
  }

  .recruteMe {
    border-radius: 30px;
    width: 100%;
    height: 35px;
    padding: 0 20px;
    font-weight: bold;
    background-color: transparent;
    color: var(--color2);
    border: 2.5px solid var(--colorSpecial);
    cursor: pointer;
  }
  .recruteMe:hover {
    background-color: var(--color2);
    color: var(--color1);
    border: 2.5px solid var(--color3);
    transition: all 0.2s ease-in-out;
    height: 40px;
  }

  .navFlagMobile {
    margin-right: 1.25px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: 2.5px solid var(--colorSpecial);
    border-radius: 9999px;
  }

  .slideInDown-5 {
    padding: 5%;
  }

  .msxIconMobileMenu {
    width: 20%;
  }

  .separationLineNameJob2 {
    background-color: var(--color2);
    height: 1px;
    width: 40vw;
    margin: 10px 0;
  }
  .marsaleixRomain2 {
    font-size: 10px;
    color: var(--colorSpecial);
    font-weight: bold;
  }
}
