.btn-toggle{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 30px;
    background-color: #333;
    border: 1px solid #333;
    color: #f1f1f1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    transition : all 0.2s ease-in-out;
}

.btn-toggle.goLight {
    background-color: #333;
    color: #f1f1f1;

}

.btn-toggle.goDark {
    background-color: #f1f1f1;
    color: #333;
}