.header {
  position: fixed;
  z-index: 1;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(4,46,66);
  background: -moz-linear-gradient(180deg, rgba(4,46,66,1) 0%, rgba(4,46,66,1) 61%, rgba(240,240,240,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(4,46,66,1) 0%, rgba(4,46,66,1) 61%, rgba(240,240,240,0) 100%);
  background: linear-gradient(180deg, rgba(4,46,66,1) 0%, rgba(4,46,66,1) 61%, rgba(240,240,240,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#042e42",endColorstr="#f0f0f0",GradientType=1);;
}

/*Partie gauche*/
.partie-gauche {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}
.msx-header {
  width: 80px;
  /* border: 2px solid black; */
}
.marsaleixRomain,
.developpeurWeb {
  padding: 0 10px;
}
.separation-nom-metier {
  background-color: #f5f5f5;
  height: 30px;
  width: 3px;
}
.developpeurWeb {
  color: #e3b93a;
  font-weight: bold;
}

/*Partie droite*/
.partie-droite {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.partie-droite > a {
  display: flex;
  align-items: center;
  font-size: clamp(10px, 3vw, 28px);
}
.links-navbar {
  padding: 0 25px 0 0;
}
.links-navbar:hover {
  color: #e3b93a;
}

.partie-droite > a > button {
  font-size: clamp(8px, 1.5vw, 16px);
}

.recruteMe {
  border-radius: 30px;
  height: 35px;
  padding: 0 20px;
  font-weight: bold;
  background-color: transparent;
  color: #f5f5f5;
  border: 2.5px solid #e3b93a;
  font-weight: bold;
  cursor: pointer;
}
.recruteMe:hover {
  background-color: #f5f5f5;
  color: #042e42;
  border: 2.5px solid #a6874e;
  transition: all 0.2s ease-in-out;
  height: 40px;
}
/* RUPTURE A 900PIXEL DE LA BARRE NAV */
