/* ANIMATION TEXTE DEFILANT */

.bloc-news {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-bottom: 2%;
}

.breaking-news {
  background-color: red;
  background-color: #e3b93a;
  color: #042e42;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  position: relative;
  left: 2rem;
  font-size: 3rem;
  text-align: center;
  width: 20vw;
  margin: 20px 0 0 0;
  padding: 0 5px;
  /* font-weight: bold;
  font-style: italic; */

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transform: SkewX(-25deg);
  z-index: 2;
}
/* le block conteneur */
.marquee-rtl {
  position: relative;
  right: 3rem;
  transform: SkewX(-25deg);
  max-width: 100%; /* largeur de la fenêtre */
  width: 80vw;
  margin: 20px 0 0 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgb(91, 91, 91);
  border: 2px solid #e3b93a;
  /* border-left: none;
    border-right: none; */
  overflow-x: hidden; /*Cache le texte*/
  z-index: 1;
  display: flex;
  align-items: center;
}

.text-defilant {
  display: inline-block; /* modèle de boîte en ligne */
  padding-right: 2em; /* un peu d'espace pour la transition */
  padding-left: 100%; /* placement à droite du conteneur */
  white-space: nowrap; /* pas de passage à la ligne */
  /* animation: defilement-rtl 10s infinite linear; */

  text-transform: uppercase;
  padding: 1.2rem;
  font-size: 2.5rem;
  
  color: #042e42;
  color: whitesmoke;
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, 0); /* position initiale à droite */
  }

  100% {
    transform: translate3d(-100%, 0, 0); /* position finale à gauche */
  }
}

/* FIN ANIMATION TEXTE DEFILANT */

.important-text {
  color: #e3b93a;
  /* color: rgb(187, 21, 21); */
}

@media screen and (max-width: 600px) {
  .bloc-news {
    margin-bottom: 2vw;
  }
}

@media screen and (max-width: 800px) {
  .breaking-news {
    font-size: clamp(18px, 3vw, 24px);
  }
  .text-defilant {
    padding: 0.5rem;
    font-size: clamp(16px, 2.5vw, 20px);
  }
}

@media screen and (max-width: 975px) {
  .chrono-icon-flash {
    display: none;
  }
}
