.bloc-news {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.breaking-news {
  background-color: var(--color3);
  color: var(--color1);
  color: var(--color2);
  border: 2px solid var(--color2);
  position: relative;
  left: 2rem;
  font-size: clamp(18px, 3vw, 24px);
  /* font-weight: bold; */
  text-align: center;
  width: 20vw;
  /* margin: 20px 0 0 0; */
  padding: 0 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transform: SkewX(-25deg);
  z-index: 2;
}
.marquee-rtl {
  position: relative;
  right: 2rem;
  transform: SkewX(-25deg);
  max-width: 100%;
  width: 80vw;
  /* margin: 20px 0 0 0; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: var(--color5);
  border: 2px solid var(--color3);
  overflow-x: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
}

.marquee-rtl > :first-child {
  display: inline-block; /* modèle de boîte en ligne */
  padding-right: 2em; /* un peu d'espace pour la transition */
  padding-left: 100%; /* placement à droite du conteneur */
  white-space: nowrap; /* pas de passage à la ligne */
  animation: defilement-rtl 20s infinite linear;
}

.text-defilant {
  /* display: inline-block; */
  /* padding-right: 2em;
  padding-left: 100%; */
  white-space: nowrap;
  text-transform: uppercase;
  padding: 0.5rem;
  font-size: clamp(16px, 2.5vw, 20px);

  color: var(--color1);
  color: var(--color2);
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.chrono-icon-flash {
  display: none;
}

.important-text {
  color: var(--colorSpecial); /* Exception */
}
/* 
@media screen and (max-width: 600px) {
  .bloc-news {
    margin-bottom: 2vw;
  }
}

@media screen and (min-width: 800px) {
  .breaking-news {
    font-size: 3rem;
  }

  .text-defilant {
    padding: 1.2rem;
    font-size: 2.5rem;

  }
}
*/
@media screen and (min-width: 975px) {
  .chrono-icon-flash {
    display: flex;
  }
}
