:root {
  font-size: 62.5%;
  --firstcolor: #223d73;
  --secondcolor: #2c3b59;
  --thirdcolor: #d9d9d9;
  --fourthcolor: #8c8c8c;
  --fivecolor: #0d0d0d;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.v-slider-bloc {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #333;
  height: 100vh;
  scroll-snap-align: center;
}

.v-slider-bloc:nth-child(1) {
  background-color: var(--firstcolor);
  color: whitesmoke;
}
.v-slider-bloc:nth-child(2) {
  background-color: var(--thirdcolor);
  color: var(--firstcolor);
}
.v-slider-bloc:nth-child(3) {
  background-color: var(--secondcolor);
  color: whitesmoke;
}
.v-slider-bloc:nth-child(4) {
  background-color: var(--fivecolor);
  color: whitesmoke;
}
