h1 {
    text-align: center;
    font-size: 35px;
}

.contenu {
    font-size : 20px;
    text-align: justify;
    padding : 20px 4vw;
    height: 100vh;
    color : #333;
    background-color: #f1f1f1;
    transition : all 0.2s ease-in-out;
}

.contenu.dark {
    color : #f1f1f1;
    background-color: #333;

}

.contenu.light {
    color: #333;
    background-color:#f1f1f1;
}