.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.v-slider-bloc {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /*center pour centrer le contenu, flex start + padding 150px si top*/
  padding: 100px 0 0 0; /* remplacer dans l'element scrollHE > section margin top et bottom*/
  /* border-bottom: 5px solid #fff; */
  height: 100vh;
  scroll-snap-align: center;
}

.photosport{
  height: 200px;
 width: 275px;
 object-fit: cover;
 object-position: center;
  border-radius: 9999px;
  border: 2px solid #F5F5F5 ;
}
.bloc-text-description{
  width: 600px;
}

/* .v-slider-bloc:nth-child(1) {
    background-color: var(--firstcolor);
    color: whitesmoke;
  }
  .v-slider-bloc:nth-child(2) {
    background-color: var(--thirdcolor);
    color: var(--firstcolor);
  }
  .v-slider-bloc:nth-child(3) {
    background-color: var(--secondcolor);
    color: whitesmoke;
  }
  .v-slider-bloc:nth-child(4) {
    background-color: var(--fivecolor);
    color: whitesmoke;
  } */

/* .page-home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    border: 2px solid red;
}

.bloc-main-home{
    display: flex;
    justify-content: center;
    margin: 100px 30%;
    border: 2px solid black;
    padding: 30px 5px;
    
}
.bloc-text1-home{
    margin-top: 150px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
  
}





.titres-home{
    display: flex;
    align-items: baseline;

}

.nom-home, .prenom-home {
    padding: 0 5px
}

.nom-home{
font-size: 40px;
font-weight: 400;
margin: 0;
padding: 0;
}

.prenom-home{
    font-size : 55px;
    color: #30A5BF;
    margin: 0;
    padding: 0;
}




@media all and (min-width: 600px) and (max-width: 1024px){
    .page-general {
        background: red;
        height: 100vh;
        max-height: 100%;
    }
}

@media all and (min-width: 1025px) {
    .page-general {
        background: green;
        height: 100vh;
        max-height: 100%;
        width: 100%;
    }
} */

.presentation-perso { /*Top slide page tenant compte de la nav 100px et resp*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* padding: 0 10%; */
  padding-top: 100px;
  /* margin-bottom: -100px; */
  border: 2px solid orange;
  background-color: pink;
}
.zone-text-presentation { /*Top SLIDE INTERIEUR*/
  border: 2px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
justify-content: space-between;
  align-items: center;
  padding: 20px 0;

}
