.container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  border: 2px solid yellow;
}

.v-slider-bloc {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /*center pour centrer le contenu, flex start + padding 150px si top*/
  padding-top: 100px; /* remplacer dans l'element scrollHE > section margin top et bottom*/
  /* border-bottom: 5px solid #fff; */
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  border: 3px solid red;
  /* padding-bottom: -100px; */
}

.photosport {
  height: 35vw;
  max-height: 200px;
  max-width: 200px;
  width: 35vw;
  object-fit: cover;
  object-position: center;
  border-radius: 9999px;
  border: 2px solid #f5f5f5;
  margin: 2px;
}

.bloc-text-description {
  width: 600px;
  max-width: 90vw;
}

.presentation-perso {
  /*Top slide page tenant compte de la nav 100px et resp*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  /* padding: 0 10%; */
  /* margin-bottom: -100px; */
  /* border: 2px solid orange; */
  background-color: blue;
}
.zone-text-presentation {
  /*Top SLIDE INTERIEUR*/
  /* border: 2px solid red; */
  height: 100%;
  width: 800px;
  max-width: 90vw;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.br-presentation {
  display: none;
}

.dev-presentation {
  font-size: larger;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .v-slider-bloc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-height: 100vh;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .zone-text-presentation h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .zone-text-presentation h2 {
    font-size: 2rem;
    width: 90vw;
    text-align: center;
  }
}

@media screen and (max-width: 805px) {
  .br-presentation {
    display: block;
  }
}
