.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.v-slider-bloc {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /*center pour centrer le contenu, flex start + padding 150px si top*/
  padding-top: 100px; /* remplacer dans l'element scrollHE > section margin top et bottom*/
  /* border-bottom: 5px solid #fff; */
  min-height: 100vh;
  height: 100%;
  scroll-snap-align: center;
  border: 3px solid red;
}

.photosport {
  height: 200px;
  width: 275px;
  object-fit: cover;
  object-position: center;
  border-radius: 9999px;
  border: 2px solid #f5f5f5;
  margin: 2px;
}

.bloc-text-description {
  width: 600px;
  max-width: 95vw;
}

.presentation-perso {
  /*Top slide page tenant compte de la nav 100px et resp*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  /* padding: 0 10%; */
  /* margin-bottom: -100px; */
  /* border: 2px solid orange; */
  background-color: blue;
}
.zone-text-presentation {
  /*Top SLIDE INTERIEUR*/
  /* border: 2px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.br-presentation{
display: none;}

.dev-presentation{
  font-size: larger;
  text-transform:uppercase ;
  }


  


@media screen and (max-width: 600px) {
  .v-slider-bloc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
   .zone-text-presentation h1 {
     font-size: 3.5rem;
   }

   .zone-text-presentation h2 {
    font-size: 2rem;
    width: 90vw;
  }

  .br-presentation{
    display: block;
  }
}
