.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100vw;
}







.bloc-text-description p {
  padding-bottom: 10px;
}

.bloc-text-description p:last-child {
  padding-bottom: 0;
}

/* .zone-text-presentation {
  height: 100%;
  width: 800px;
  max-width: 90vw;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

.br-presentation {
  display: none;
}

.dev-presentation {
  text-transform: uppercase;
}

/* @media screen and (max-width: 600px) {
  .zone-text-presentation h1 {
    font-size: 7rem;
    text-align: center;
  }

  .zone-text-presentation h2 {
    font-size: 2rem;
    width: 90vw;
    text-align: center;
  }
} */

.hidden {
  display: none;
}

/* new parameters */
.contenu-swiper{
margin:30px auto;
}


