.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  height: 80vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.v-slider-bloc {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 3%;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
  padding-bottom: 20px;
  border: 2px solid orange;
}

.photosport {
  height: 35vw;
  max-height: 200px;
  max-width: 200px;
  width: 35vw;
  object-fit: cover;
  object-position: center;
  border-radius: 9999px;
  border: 2px solid var(--color2);
  margin: 2px;
}

.bloc-text-description {
  width: 600px;
  max-width: 90vw;
}

.bloc-text-description p {
  padding-bottom: 10px;
}

.bloc-text-description p:last-child {
  padding-bottom: 0;
}

.zone-text-presentation {
  height: 100%;
  width: 800px;
  max-width: 90vw;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.br-presentation {
  display: none;
}

.dev-presentation {
  font-size: larger;
  text-transform: uppercase;
}


@media screen and (max-width: 600px) {
  .zone-text-presentation h1 {
    font-size: 7rem;
    text-align: center;
  }

  .zone-text-presentation h2 {
    font-size: 2rem;
    width: 90vw;
    text-align: center;
  }
}

@media screen and (max-width: 805px) {
  .br-presentation {
    display: block;
  }
}
