.blocPres {
  display: flex;
}

.photoID {
  height: 50vw;
  max-height: 250px;
  max-width: 450px;
  width: 50vw;
  object-fit: cover;
  object-position: center;
  border-radius: 9999px;
  border: 3px solid var(--color2);
  margin: 0 auto 30px;
}

.presentationTitles {
  text-align: left;
  width: 75%;
  position: relative;
}

.presentationText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wildLogo {
  width: 11rem;
  opacity: 0.9;
}

.recruteMePresentationBtn {
  margin: 20px auto 10px;
}

.color-change-2x {
  background-color: transparent;
  -webkit-animation: color-change-2x 4s linear infinite alternate both;
  animation: color-change-2x 4s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: var(--color1);
  }
  100% {
    background: var(--color3);
    border: 2.5px solid #c0c0c0;
  }
}
@keyframes color-change-2x {
  0% {
    background: var(--color3);
    border: 2.5px solid #c0c0c0;
  }
  100% {
    background: var(--color1);
  }
}

.color-change-2x:hover,
.color-change-3:hover {
  background: var(--color2) !important ;
  border: 3px solid var(--colorSpecial);
}

/* Only : Menu mobile version  */
.color-change-3 {
  background-color: transparent;
  -webkit-animation: color-change-2x 4s linear infinite alternate both;
  animation: color-change-2x 4s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: transparent;
  }
  100% {
    background: var(--color3);
    border: 2.5px solid #c0c0c0;
  }
}
@keyframes color-change-2x {
  0% {
    background: var(--color3);
    border: 2.5px solid #c0c0c0;
  }
  100% {
    background: var(transparent);
  }
}

@media screen and (max-width: 600px) {
  .br-presentation {
    display: block;
  }

  .photoID {
    height: 45vw;
    max-height: 300px;
    max-width: 300px;
    width: 60vw;
  }
}
