

.blocPres {
  display: flex;
}

.presentationTitles{
text-align: left;
width: 85%;
position: relative;
top: -20px;
}

.presentationText{
display: flex;
flex-direction: column;
align-items: center;
}

.wildLogo{
width: 11rem;
opacity: 0.9;
}