.App {
  text-align: center;
  color: #F5F5F5;
  background-color: #042E42;

}

a {
  text-decoration: none;
  list-style: none;
  color: whitesmoke;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}