.App {
  text-align: center;
  color: var(--color2);
  background-color: var(--color1);

}

a {
  text-decoration: none;
  list-style: none;
  color: var(--color2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}