:root {
  font-size: 62.5%;
  /* COLORS VARIABLES */
  --color1: rgb(4, 47, 67);/*   var(--color1)   */
  --color2: hsl(0, 0%, 96%);/*   var(--color2)   */
  --color3 : hsl(38, 47%, 47%);/*   var(--color3)   */
  --color4: hsl(0, 0%, 5%);/*   var(--color4)   */
  --color5: hsl(0, 0%, 36%); /*   var(--color5)   */
  --colorSpecial: hsl(45, 100%, 61%); /* Exception */
  --swiper-navigation-color:hsl(0, 0%, 96%); 
}

/* FONT SIZE */
h2 {
  font-size: clamp(18px, 3vw, 24px);
}
h3 {
  font-size: clamp(16px, 3vw, 20px);
  text-decoration: underline whitesmoke;
}
p {
  font-size: clamp(14px, 3vw, 16px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
