:root {
  font-size: 62.5%;
}

h2 {
  font-size: clamp(18px, 3vw, 24px);
}

h3 {
  font-size: clamp(16px, 3vw, 20px);
  text-decoration: underline whitesmoke;
}

p {
  font-size: clamp(12px, 3vw, 16px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
