.text-form {
  text-align: center;
}

.text-form h3,
.text-form p {
  padding: 10px 0;
}

.container-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container-form label {
  font-size: 18px;
  text-align: left;
}

.container-form input,
.container-form textarea {
  padding: 7px;
  margin-bottom: 2%;
  font-size: 12px;
  border-radius: 5px;
}

.container-form textarea {
  min-height: 125px;
  font-family: Arial, Helvetica, sans-serif;
}

/* .container-form button {
  padding: 0px 15px;
  width: 200px;
  background: transparent;
  border: 1px solid var(--color4);
  border-radius: 3px;
  cursor: pointer;
} */

.container-form input:last-child {
  margin: 0;
  margin-top: 20px;
}

#btnSubmit {
  background-color: var(--color3);
  color: var(--color2);
  width: 50%;
  border-radius: 999px;
  height: fit-content;
  margin: auto;
  margin-top: 2rem;
  border: 1px solid var(--color2);
  text-transform: uppercase;
}

#btnSubmit:hover {
  background-color: var(--color4);
  color: var(--color2);
  border: 1px solid var(--color2);
}

.br-form {
  display: none;
}
